# Compiled Object files
obj/
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# QT-Creator project files
crawling-traces.files
crawling-traces.includes
crawling-traces.config
*.creator
*.creator.user

# Crawling Traces history directory
bin/data/history/*

#Crawling Traces binary, server and gui settings

